*.swp
tools/*.wav
*.nsi
windows/*.zip
windows/*.tar.xz
windows/pkg/
windows/src
PKGBUILD
*.dll
packages/
src/musikernel/musikernel*.so
*.exe
callgrind.out.*
cachegrind.out.*
tags
*.rpm
ubuntu/pydaw_os/*zip
ubuntu/pydaw_os/VirtualBox*
src/musikernel/locale/goo/
src/musikernel/locale/goo.tranz
src/musikernel/locale/bin/
main.su
fedora/*.ks
fedora/cache/
*.spec
src/sbsms/Makefile
src/sbsms/cli/sbsms
src/sbsms/config.status
src/sbsms/libsbsms.spec
src/sbsms/libtool
src/sbsms/sbsms.pc
src/sbsms/src/Makefile
src/sbsms/src/config.h
src/sbsms/src/stamp-h1
src/musikernel/pyliblo-0.9.2/build/
src/musikernel/python/libmusikernel/*.so
src/musikernel/python/libmusikernel/*.dll
src/musikernel/portaudio/Makefile
src/musikernel/portaudio/bin-stamp
src/musikernel/portaudio/bin/
src/musikernel/portaudio/bindings/cpp/bin/
src/musikernel/portaudio/config.status
src/musikernel/portaudio/lib-stamp
src/musikernel/portaudio/libtool
src/musikernel/portaudio/portaudio-2.0.pc
ubuntu/musikernel_os/musikernel*.ova
src/musikernel/musikernel*-engine*
src/musikernel/dir_debug
*.tar.gz
ubuntu/musikernel_os/edit
ubuntu/musikernel_os/extract-cd
ubuntu/musikernel_os/mnt
ubuntu/musikernel_os/md5sum.txt
*.iso
src/musikernel/*.pymap
src/musikernel/profile.txt
*.project
*.cproject
src/musikernel/python/libmusikernel/history_test*
src/musikernel/gmon.out
src/musikernel/profiling.txt
ubuntu/debian/DEBIAN/control
ubuntu/debian/DEBIAN/md5sums
tools/wavetable_maker/wavs/*.wav
tools/wavetable_maker/wt.h
tools/wavetable_maker/test.txt
src/way_v/WAY_V_qt
tools/wavetable_maker/wtgen
src/musikernel/*.wav
src/build-suffix.txt
src/musikernel_jack_oscrolloscope/musikernel_jack_oscrolloscope
*.pyc
*.qm
ubuntu/debian/usr
src/maintainer.txt
*nbproject*
*.o
*.la
*.lo
*~
src/musikernel/test.wav.finished
*.log
*.libs*
*.deps*
*GNU-amd64-Linux*
*.deb
*.moc.cpp
*deps_installed.txt
*/build/*
